<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Graphs</title>
</head>
<style>
    body{
     background: url("https://img.freepik.com/free-vector/abstract-violet-pixel-rain-background_23-2148362568.jpg?size=626&ext=jpg")
    }
    h2{

    color:#1b38db
    }

</style>
<body>
<center>
    <h2>Cricket</h2>
	<img src="{{ '/media/plot.png' }} " width=1000 height=800 >
    <img src="{{ '/media/plot2.png' }} " width=1000 height=800>
        <img src="{{ '/media/plot3.png' }} " width=1000 height=800>
        <img src="{{ '/media/plot4.png' }} " width=1000 height=800>
    <h2>Kabbadi</h2>
    <img src="{{ '/media/plotk1.png' }} " width=1000 height=800>
    <img src="{{ '/media/plotk2.png' }} " width=1000 height=800>
    <img src="{{ '/media/plotk3.png' }} " width=1000 height=800>

</center></body>
</html>